<footer class="bg-dark text-white py-4">
    <div class="container text-center">

        <h5 class="mb-3">FoodieHub</h5>

        <p>
            <a href="https://github.com/ratneshnamdeo0207" target="_blank" class="text-warning text-decoration-none me-3">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="resume.pdf" target="_blank" class="text-warning text-decoration-none"><i class="fa-regular fa-file"></i>
            </a>
        </p>

        <p class="mb-0">© 2026 FoodieHub | All Rights Reserved</p>

    </div>
</footer>