 .hero {
            background: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836') no-repeat center center/cover;
            height: 90vh;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: white;
        }
        .hero-overlay {
            background: rgba(0,0,0,0.6);
            padding: 50px;
            border-radius: 10px;
        }
        .category-card:hover {
            transform: scale(1.05);
            transition: 0.3s;
        }

        /* for restuarant page  */
     body {
            background-color: #f8f9fa;
        }

        .restaurant-card:hover {
            transform: translateY(-5px);
            transition: 0.3s;
        }

        .filter-box {
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.05);
        }